.header {
  background-color: #ffffff;
  position: relative;
  z-index: 11;
  -webkit-box-shadow: 0px 6px 9px 0px rgba(20, 8, 20, 0.54);
          box-shadow: 0px 6px 9px 0px rgba(20, 8, 20, 0.54); }
  .header__top {
    padding: 12px 0 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 1024px) {
      .header__top {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        display: none; } }
    @media screen and (min-width: 1900px) {
      .header__top {
        display: none; } }
    @media screen and (min-width: 1024px) {
      .header__top_other {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media screen and (min-width: 1900px) {
      .header__top_other {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  .header__menu {
    display: none; }
    @media screen and (min-width: 768px) {
      .header__menu {
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 360px;
            -ms-flex: 0 1 360px;
                flex: 0 1 360px; } }
    @media screen and (min-width: 1024px) {
      .header__menu {
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 610px;
            -ms-flex: 0 1 610px;
                flex: 0 1 610px; } }
    @media screen and (min-width: 1900px) {
      .header__menu {
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 710px;
            -ms-flex: 0 1 710px;
                flex: 0 1 710px; } }
  .header__logo {
    margin-right: -2px;
    max-width: 265px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 1900px) {
      .header__logo {
        max-width: 290px;
        height: 45px; } }

.brg-icon {
  margin: 0 auto;
  width: 48px;
  height: 36px;
  position: relative;
  cursor: pointer; }
  .brg-icon__elem {
    margin: auto;
    width: 48px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8ab734;
    line-height: 36px;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .brg-icon__elem_menu-block {
      background-color: #909090; }
    .brg-icon__elem:first-child {
      top: -30px; }
    .brg-icon__elem:last-child {
      top: 29px; }
    .brg-icon__elem_open:first-child {
      top: 0px;
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg); }
    .brg-icon__elem_open:nth-child(2) {
      opacity: 0; }
    .brg-icon__elem_open:last-child {
      top: 0px;
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg);
      background-color: #909090; }

.above-footer__title {
  padding-top: 40px;
  text-align: center;
  font-family: "ProximaRg";
  font-size: 100px;
  color: #8ab734; }

.above-footer__text {
  margin: 0 auto;
  max-width: 355px;
  text-align: center;
  font-family: "ProximaSbold";
  font-size: 24px;
  color: #555555; }

.above-footer__social {
  padding-top: 35px;
  padding-bottom: 50px; }
  @media screen and (min-width: 1024px) {
    .above-footer__social {
      padding-bottom: 65px; } }

.social {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 220px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social__i {
    display: block;
    height: 55px;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .social__i_face-book {
      width: 30px;
      background-image: url("../icons/f.png"); }
    .social__i_youTube {
      margin-top: 2px;
      width: 70px;
      background-image: url("../icons/yo.png"); }
    .social__i_insta {
      margin-top: 2px;
      width: 50px;
      background-image: url("../icons/in.png"); }

.footer {
  border: 1px solid #a8a8a8; }
  .footer__content {
    padding: 5px 0; }
    @media screen and (min-width: 768px) {
      .footer__content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .footer__copyright {
    margin: 0 auto;
    max-width: 275px;
    font: 16px "ProximaRg";
    text-align: center; }
    @media screen and (min-width: 768px) {
      .footer__copyright {
        max-width: 465px;
        text-align: left; } }
  .footer__dev-in {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 235px; }

.dev-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .dev-in__text {
    font: 18px "ProximaRg"; }
  .dev-in__link {
    display: block;
    padding-left: 15px; }
  .dev-in__icon {
    display: block;
    width: 85px;
    height: 30px;
    background-image: url("../icons/forte-life.png");
    background-repeat: no-repeat; }

.banner-error {
  padding-top: 20px;
  background: #ffffff;
  -webkit-box-shadow: inset -2px 15px 32px -17px rgba(0, 0, 0, 0.75);
          box-shadow: inset -2px 15px 32px -17px rgba(0, 0, 0, 0.75); }
  @media screen and (min-width: 1024px) {
    .banner-error {
      padding-top: 40px;
      padding-bottom: 60px; } }
  .banner-error__logo {
    margin: 0 auto;
    max-width: 380px;
    height: 350px; }
    @media screen and (min-width: 768px) {
      .banner-error__logo {
        max-width: 635px;
        height: 580px; } }
  .banner-error__pic {
    width: 100%;
    height: auto;
    display: block; }
  .banner-error__home {
    font: 21px "ProximaRg"; }
    @media screen and (min-width: 768px) {
      .banner-error__home {
        font: 36px "ProximaRg"; } }
  .banner-error__link {
    display: block;
    text-align: center;
    color: #8ab734;
    text-decoration: none;
    font-family: "ProximaBold"; }
  .banner-error__title {
    text-transform: uppercase;
    border-bottom: 1px solid #8ab734; }
    @media screen and (min-width: 768px) {
      .banner-error__title {
        border: none; } }
  .banner-error__text {
    color: #6a6a6a;
    text-align: center; }

.form__title {
  margin: 0;
  padding: 0;
  font: 30px "ProximaRg";
  color: #373737;
  text-align: center; }
  .form__title_unic {
    display: none; }

.form__text {
  padding: 10px 0;
  text-align: center;
  font: 18px "ProximaRg";
  background-color: #ffffff;
  color: #909090; }
  .form__text_unic {
    display: none; }

.form__wrapper {
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .form__wrapper {
      margin: 0 auto;
      padding: 0;
      width: 575px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .form__wrapper {
      padding-top: 25px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 575px;
          -ms-flex: 0 1 575px;
              flex: 0 1 575px; } }
  @media screen and (min-width: 768px) {
    .form__wrapper_unic {
      margin: 0 auto;
      padding: 0;
      max-width: 450px;
      display: block; } }

.form__group {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 275px;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px; }
  .form__group_unic {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

.form__input {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #909090;
  outline: none; }
  @media screen and (min-width: 768px) {
    .form__input {
      max-width: 275px; } }
  @media screen and (min-width: 768px) {
    .form__input_unic {
      max-width: 450px; } }
  .form__input::-webkit-input-placeholder {
    color: #909090; }
  .form__input::-moz-placeholder {
    color: #909090; }
  .form__input:-ms-input-placeholder {
    color: #909090; }
  .form__input::-ms-input-placeholder {
    color: #909090; }
  .form__input::placeholder {
    color: #909090; }
  .form__input:focus {
    border: 2px solid #8ab734;
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5); }
  .form__input_submit {
    border: none;
    background-color: #8ab734;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer; }
    .form__input_submit:hover {
      background-color: #aad260; }
    @media screen and (min-width: 768px) {
      .form__input_submit_unic {
        max-width: 450px; } }
    @media screen and (min-width: 768px) {
      .form__input_submit {
        margin-top: 16px; } }

.form__textarea {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #909090;
  outline: none;
  min-height: 120px; }
  @media screen and (min-width: 768px) {
    .form__textarea {
      margin: 0;
      padding-top: 13px; } }
  @media screen and (min-width: 768px) {
    .form__textarea_unic {
      margin: 0;
      max-width: 450px; } }
  .form__textarea::-webkit-input-placeholder {
    color: #909090; }
  .form__textarea::-moz-placeholder {
    color: #909090; }
  .form__textarea:-ms-input-placeholder {
    color: #909090; }
  .form__textarea::-ms-input-placeholder {
    color: #909090; }
  .form__textarea::placeholder {
    color: #909090; }
  .form__textarea:focus {
    border: 2px solid #8ab734;
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5); }

.contacts__content {
  padding: 30px 0 5px; }
  @media screen and (min-width: 768px) {
    .contacts__content {
      padding-top: 20px;
      padding-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .contacts__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 20px 60px 20px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.contacts__info {
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .contacts__info {
      margin: 0;
      padding: 0; } }

.contacts__form {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .contacts__form {
      margin-top: 25px; } }
  @media screen and (min-width: 1024px) {
    .contacts__form {
      margin-top: 0; } }

.info {
  margin: 0 auto;
  max-width: 370px; }
  .info__title {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font: 30px "ProximaBold";
    color: #8ab734;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .info__title {
        padding-bottom: 25px; } }
    @media screen and (min-width: 1024px) {
      .info__title {
        text-align: left; } }
  .info__elem {
    margin: 0 auto;
    padding-left: 25px; }
    @media screen and (min-width: 768px) {
      .info__elem {
        padding: 0; } }
  .info .info__text_cont:before, .info .info__text_phone:before, .info .info__text_mail:before {
    content: '';
    margin-right: 15px;
    width: 20px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer; }
  .info__text {
    font: 18px "ProximaRg";
    color: #838383;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px; }
    .info__text_cont:before {
      background-image: url("../icons/maps.png"); }
    .info__text_phone:before {
      background-image: url("../icons/tel-contact.png"); }
    .info__text_mail:before {
      background-image: url("../icons/mail-contact.png"); }

.google-maps {
  max-width: 1920px;
  height: 320px; }
  @media screen and (min-width: 768px) {
    .google-maps {
      height: 400px; } }

.form__title {
  margin: 0;
  padding: 0;
  font: 30px "ProximaRg";
  color: #373737;
  text-align: center; }
  .form__title_unic {
    display: none; }

.form__text {
  padding: 10px 0;
  text-align: center;
  font: 18px "ProximaRg";
  background-color: #ffffff;
  color: #909090; }
  .form__text_unic {
    display: none; }

.form__wrapper {
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .form__wrapper {
      margin: 0 auto;
      padding: 0;
      width: 575px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .form__wrapper {
      padding-top: 25px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 575px;
          -ms-flex: 0 1 575px;
              flex: 0 1 575px; } }
  @media screen and (min-width: 768px) {
    .form__wrapper_unic {
      margin: 0 auto;
      padding: 0;
      max-width: 450px;
      display: block; } }

.form__group {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 275px;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px; }
  .form__group_unic {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

.form__input {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #909090;
  outline: none; }
  @media screen and (min-width: 768px) {
    .form__input {
      max-width: 275px; } }
  @media screen and (min-width: 768px) {
    .form__input_unic {
      max-width: 450px; } }
  .form__input::-webkit-input-placeholder {
    color: #909090; }
  .form__input::-moz-placeholder {
    color: #909090; }
  .form__input:-ms-input-placeholder {
    color: #909090; }
  .form__input::-ms-input-placeholder {
    color: #909090; }
  .form__input::placeholder {
    color: #909090; }
  .form__input:focus {
    border: 2px solid #8ab734;
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5); }
  .form__input_submit {
    border: none;
    background-color: #8ab734;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer; }
    .form__input_submit:hover {
      background-color: #aad260; }
    @media screen and (min-width: 768px) {
      .form__input_submit_unic {
        max-width: 450px; } }
    @media screen and (min-width: 768px) {
      .form__input_submit {
        margin-top: 16px; } }

.form__textarea {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #909090;
  outline: none;
  min-height: 120px; }
  @media screen and (min-width: 768px) {
    .form__textarea {
      margin: 0;
      padding-top: 13px; } }
  @media screen and (min-width: 768px) {
    .form__textarea_unic {
      margin: 0;
      max-width: 450px; } }
  .form__textarea::-webkit-input-placeholder {
    color: #909090; }
  .form__textarea::-moz-placeholder {
    color: #909090; }
  .form__textarea:-ms-input-placeholder {
    color: #909090; }
  .form__textarea::-ms-input-placeholder {
    color: #909090; }
  .form__textarea::placeholder {
    color: #909090; }
  .form__textarea:focus {
    border: 2px solid #8ab734;
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5); }

.product__title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  text-align: center;
  font: 36px "ProximaBold";
  color: #8ab734; }
  @media screen and (min-width: 768px) {
    .product__title {
      padding-top: 0;
      padding-bottom: 65px; } }

@media screen and (min-width: 1024px) {
  .product__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.product__form {
  padding-top: 25px; }
  @media screen and (min-width: 768px) {
    .product__form {
      padding-top: 0; } }

.product__picture {
  display: none;
  width: 490px;
  height: 320px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  @media screen and (min-width: 1024px) {
    .product__picture {
      display: block;
      -webkit-transform: translate(-5px, -35px) rotate(-4.8deg);
          -ms-transform: translate(-5px, -35px) rotate(-4.8deg);
              transform: translate(-5px, -35px) rotate(-4.8deg); } }
  @media screen and (min-width: 1900px) {
    .product__picture {
      width: 600px;
      height: 400px;
      -webkit-transform: translate(-5px, -35px) rotate(-6deg);
          -ms-transform: translate(-5px, -35px) rotate(-6deg);
              transform: translate(-5px, -35px) rotate(-6deg);
      margin-right: 30px; } }
  .product__picture:hover {
    -webkit-transform: translate(0, 0) rotate(0deg);
        -ms-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
    -webkit-box-shadow: 0px 5px 30px 0px #8b8e91;
            box-shadow: 0px 5px 30px 0px #8b8e91; }

.product__img {
  width: 100%;
  height: auto; }

.above-unic__text {
  font: 18px "ProximaRg";
  color: #909090; }
  .above-unic__text:first-child {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .above-unic__text:first-child {
        padding: 25px 0;
        margin: 0; } }
    @media screen and (min-width: 1900px) {
      .above-unic__text:first-child {
        padding: 30px 0;
        margin: 0; } }

.above-unic__span {
  color: #373737; }

/* ----------------------------- Fonts ------------------------------- */
@font-face {
  font-family: 'ProximaRg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("../fonts/ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaSbold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: local("../fonts/Proxima Nova Semibold"), local("../fonts/ProximaNova-Semibold"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ProximaBold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("../fonts/ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* ----------------------------- Fonts ------------------------------- */
/* ----------------------------- General ----------------------------- */
body {
  background-image: url("../img/bg.png");
  -webkit-background-size: 700px 700px;
          background-size: 700px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, .burger-menu__list {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  background-color: #ffffff; }
  .container_unic {
    background-image: url("../img/background.jpg");
    -webkit-background-size: contain;
            background-size: contain; }
    @media screen and (min-width: 768px) {
      .container_unic {
        background-image: none; } }

.breadCrumbs {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none; }
  @media screen and (min-width: 768px) {
    .breadCrumbs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 1024px) {
    .breadCrumbs {
      padding: 0 20px; } }
  .breadCrumbs__item {
    margin-right: 5px;
    padding: 20px 0; }
  .breadCrumbs__item:not(:last-of-type):after {
    content: " |"; }
  .breadCrumbs__link {
    text-decoration: none;
    font: 18.3px "ProximaRg";
    color: #909090; }
    .breadCrumbs__link_active {
      color: red;
      pointer-events: none;
      color: #353535; }

/* ----------------------------- General ----------------------------- */
/* --------------------------- Header --------------------------------- */
.burger-menu__list {
  margin-top: 10px;
  background-color: #8ab734; }
  .burger-menu__list_top {
    position: absolute;
    left: -999px;
    -webkit-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s; }

.burger-menu__item {
  list-style-type: none;
  padding: 10px 100px 0 15px; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu__link {
    display: block;
    text-decoration: none;
    color: #4f4f4f;
    font-family: "ProximaSbold";
    font-size: 24px; }
  .menu__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 170px;
        -ms-flex: 0 1 170px;
            flex: 0 1 170px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (min-width: 1024px) {
      .menu__info {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 420px;
            -ms-flex: 0 1 420px;
                flex: 0 1 420px; } }
    @media screen and (min-width: 1900px) {
      .menu__info {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 510px;
            -ms-flex: 0 1 510px;
                flex: 0 1 510px; } }
  .menu__valuta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100px;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px; }
    @media screen and (min-width: 1024px) {
      .menu__valuta {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 145px;
            -ms-flex: 0 1 145px;
                flex: 0 1 145px; } }
    @media screen and (min-width: 1900px) {
      .menu__valuta {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 150px;
            -ms-flex: 0 1 150px;
                flex: 0 1 150px; } }
  .menu__title {
    display: none; }
    @media screen and (min-width: 1024px) {
      .menu__title_contact {
        display: block; }
        .menu__title_contact:hover {
          color: #8ab734; } }
    @media screen and (min-width: 1024px) {
      .menu__title_phone {
        display: block; }
        .menu__title_phone:hover {
          color: #8ab734; } }
  .menu__i {
    width: 45px;
    height: 36px;
    display: block;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
    .menu__i_user {
      background-image: url("../icons/men.png"); }
      .menu__i_user:hover {
        background-image: url("../icons/men-.png"); }
    .menu__i_contact {
      background-image: url("../icons/map.png"); }
      .menu__i_contact:hover {
        background-image: url("../icons/map-.png"); }
      @media screen and (min-width: 1024px) {
        .menu__i_contact {
          display: none; } }
    .menu__i_phone {
      background-image: url("../icons/tel.png"); }
      .menu__i_phone:hover {
        background-image: url("../icons/tel-.png"); }
      @media screen and (min-width: 1024px) {
        .menu__i_phone {
          display: none; } }
    .menu__i_ua {
      width: 40px;
      height: 45px;
      background-color: #8ab734;
      background-image: url("../img/grn.png");
      -webkit-background-size: 70% 70%;
              background-size: 70%;
      background-position: center;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border: 2px solid white;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .menu__i_ua:hover {
        background-color: white;
        border-color: #8ab734;
        background-image: url("../img/grn-.png"); }
      @media screen and (min-width: 1024px) {
        .menu__i_ua {
          width: 54px;
          height: 57px; } }
    .menu__i_buck {
      width: 40px;
      height: 45px;
      background-color: #8ab734;
      background-image: url("../img/$.png");
      -webkit-background-size: 60% 60%;
              background-size: 60%;
      background-position: center;
      border: 2px solid white;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .menu__i_buck:hover {
        background-color: white;
        border-color: #8ab734;
        background-image: url("../img/$-.png"); }
      @media screen and (min-width: 1024px) {
        .menu__i_buck {
          width: 54px;
          height: 57px; } }

.logo__pic {
  width: 100%;
  height: auto;
  display: block; }

.btn {
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  @media screen and (min-width: 768px) {
    .btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1900px) {
    .btn {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  .btn:hover .btn__icon_left {
    background-image: url("../icons/grn-.png"); }
  .btn:hover .btn__icon_right {
    background-image: url("../icons/dollar-.png"); }
  .btn__icon {
    display: none; }
    @media screen and (min-width: 768px) {
      .btn__icon {
        display: block;
        width: 50px;
        height: 70px;
        background-repeat: no-repeat; }
        .btn__icon_left {
          background-image: url("../icons/grn.png");
          margin-right: 20px; }
        .btn__icon_right {
          background-image: url("../icons/dollar.png");
          margin-right: 10px; } }

.banner__content {
  position: relative; }
  @media screen and (min-width: 768px) {
    .banner__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.banner__element {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (min-width: 768px) {
    .banner__element {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 50%;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      height: 630px; } }
  @media screen and (min-width: 1024px) {
    .banner__element {
      height: 820px; } }
  .banner__element_left {
    background-image: url(../img/bannerBgLeft.jpg); }
  .banner__element_right {
    background-image: url(../img/bannerBgRight.jpg); }

.banner__btn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 200px;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  height: 40px;
  border: 2px solid #ffffff;
  font: 18px "ProximaSbold";
  line-height: 40px;
  text-align: center;
  background-color: #8ab734;
  color: #ffffff; }
  .banner__btn:hover {
    border: 2px solid #8ab734;
    background-color: #ffffff;
    color: #8ab734; }
  @media screen and (min-width: 768px) {
    .banner__btn {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 360px;
          -ms-flex: 0 1 360px;
              flex: 0 1 360px;
      padding-left: 20px;
      height: 105px;
      font-size: 30px;
      line-height: 105px;
      text-align: left; }
      .banner__btn_left {
        -webkit-transform: translateY(140px);
            -ms-transform: translateY(140px);
                transform: translateY(140px); }
      .banner__btn_right {
        -webkit-transform: translateY(-80px);
            -ms-transform: translateY(-80px);
                transform: translateY(-80px); } }
  @media screen and (min-width: 1024px) {
    .banner__btn {
      margin-top: 210px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 360px;
          -ms-flex: 0 1 360px;
              flex: 0 1 360px; }
      .banner__btn_left {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        -webkit-transform: translateX(-65px);
            -ms-transform: translateX(-65px);
                transform: translateX(-65px); }
      .banner__btn_right {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        -webkit-transform: translateX(65px);
            -ms-transform: translateX(65px);
                transform: translateX(65px); } }
  @media screen and (min-width: 1900px) {
    .banner__btn {
      margin: 0;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 440px;
          -ms-flex: 0 1 440px;
              flex: 0 1 440px; } }

.banner__shape {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none; }
  @media screen and (min-width: 1024px) {
    .banner__shape {
      display: block; } }

.banner__triangle {
  margin: 0 auto;
  width: auto;
  height: 100%;
  display: block;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .banner__triangle {
      width: 748px; } }

.banner__svg {
  margin: 0 auto;
  height: 100%;
  display: block;
  overflow: visible;
  -webkit-filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 0px 17px rgba(0, 0, 0, 0.8)); }

.banner__size {
  display: none; }
  @media screen and (min-width: 1024px) {
    .banner__size_small {
      display: block; } }
  @media screen and (min-width: 1900px) {
    .banner__size_big {
      display: block; } }

.banner__menu-block {
  display: none;
  margin: auto;
  max-width: 375px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  @media screen and (min-width: 1024px) {
    .banner__menu-block {
      display: block; } }

.banner .menu-block__logo {
  margin: 0 auto;
  padding-top: 25px; }

.banner .menu-block__brg-icon {
  padding-top: 35px; }

.banner .menu-block__inf {
  padding-top: 30px; }

.banner .menu-block .inf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner .menu-block .inf__link {
    text-decoration: none;
    font: 24px "ProximaSbold";
    color: #909090; }
    .banner .menu-block .inf__link:hover {
      color: #8ab734; }
  .banner .menu-block .inf__elem {
    height: 38px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .banner .menu-block .inf__elem_left {
      width: 44px;
      background-image: url("../icons/men.png"); }
      .banner .menu-block .inf__elem_left:hover {
        background-image: url("../icons/men-.png"); }
    .banner .menu-block .inf__elem_right {
      width: 33px;
      background-image: url("../icons/map.png"); }
      .banner .menu-block .inf__elem_right:hover {
        background-image: url("../icons/map-.png"); }

.banner .menu-block .ban-nav {
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  max-width: 255px;
  text-align: center;
  font: 18px "ProximaSbold";
  display: none; }
  .banner .menu-block .ban-nav__link {
    text-decoration: none;
    color: #373737; }
  .banner .menu-block .ban-nav__item {
    list-style-type: none;
    padding: 5px;
    cursor: pointer; }
    .banner .menu-block .ban-nav__item:hover {
      color: #8ab734; }

.banner .menu-block__text {
  margin: 0 auto;
  padding-top: 45px;
  max-width: 245px;
  text-align: center;
  font: 18px "ProximaSbold";
  display: block; }
  @media screen and (min-width: 1900px) {
    .banner .menu-block__text {
      max-width: 325px; } }

.banner .menu-block__btn {
  margin: 60px auto 0;
  max-width: 180px;
  max-height: 40px;
  border: 2px solid #8ab734;
  font: 18px "ProximaSbold";
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  color: #8ab734;
  cursor: pointer;
  display: block;
  -webkit-box-shadow: 0px 0px 35px 0px gray;
          box-shadow: 0px 0px 35px 0px gray;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  @media screen and (min-width: 1900px) {
    .banner .menu-block__btn {
      margin: 100px auto 0; } }
  .banner .menu-block__btn:hover {
    border: 2px solid #ffffff;
    background: #8ab734;
    color: #ffffff; }

/* ==================== MAIN SECTION ====================== */
.main {
  /* .title {
		margin: 0;
		padding: 0;
		
		&__span {
		}
	
		&__span:nth-child(1) {
			display: inline-block;
			transform: translateY(-5px);
		}
	
		&__span:nth-child(2) {
			display: inline-block;
			transform: translateX(-5px) rotate(-1deg);
		}
	
		&__span:nth-child(3) {
			display: inline-block;
			transform: translate(-11px,-23px) rotate(-3deg);
		}
	
		&__span:nth-child(4) {
			display: inline-block;
			transform: translate(-17px,-2px) rotate(-1deg);
		}
	
		&__span:nth-child(5) {
			display: inline-block;
			transform: translate(-17px,-2px) rotate(3deg);
		}
	
		&__span:nth-child(6) {
			display: inline-block;
			transform: translate(-23px,15px) rotate(2deg);
		}
	
		&__span:nth-child(7) {
			display: inline-block;
			transform: translate(-27px,15px) rotate(3deg);
		}
	} */ }
  .main .container {
    background-color: inherit; }
  .main__title {
    margin: 20px auto 0;
    height: 70px;
    background-image: url("../img/22.png");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; }
    @media screen and (min-width: 768px) {
      .main__title {
        max-width: 800px;
        margin: 70px auto 0;
        height: 140px; } }
    @media screen and (min-width: 1024px) {
      .main__title {
        max-width: 1224px;
        height: 185px;
        margin: 70px auto 0; } }
  .main__elm-block {
    padding-top: 30px;
    padding-bottom: 5px; }
    @media screen and (min-width: 1024px) {
      .main__elm-block {
        padding-top: 50px; } }
    @media screen and (min-width: 1900px) {
      .main__elm-block {
        padding-top: 80px; } }
  .main .elm-block {
    padding: 0;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .main .elm-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: wrap;
            -ms-flex-flow: wrap;
                flex-flow: wrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media screen and (min-width: 1024px) {
      .main .elm-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: wrap;
            -ms-flex-flow: wrap;
                flex-flow: wrap;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    .main .elm-block__item {
      margin: 0 auto;
      max-width: 305px;
      list-style-type: none;
      border: 1px solid #909090;
      height: 210px;
      -webkit-transform: rotate(-5deg);
          -ms-transform: rotate(-5deg);
              transform: rotate(-5deg);
      background-color: #ffffff;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
      @media screen and (min-width: 768px) {
        .main .elm-block__item {
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 305px;
              -ms-flex: 0 1 305px;
                  flex: 0 1 305px;
          max-width: 305px;
          height: 210px; } }
      @media screen and (min-width: 1024px) {
        .main .elm-block__item {
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 350px;
              -ms-flex: 0 1 350px;
                  flex: 0 1 350px;
          max-width: 315px;
          height: 215px; } }
      .main .elm-block__item:not(:last-child) {
        margin-bottom: 40px; }
        @media screen and (min-width: 768px) {
          .main .elm-block__item:not(:last-child) {
            margin-bottom: 60px; } }
      .main .elm-block__item:hover {
        border: 1px solid #8ab734;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
      .main .elm-block__item:hover .elm-block__img_f-st {
        background-image: url("../icons/Unique-.png"); }
      .main .elm-block__item:hover .elm-block__img_s-st {
        background-image: url("../icons/Unique-.png"); }
      .main .elm-block__item:hover .elm-block__img_t-st {
        background-image: url("../icons/Unique-.png"); }
      .main .elm-block__item:hover .elm-block__img_f0-st {
        background-image: url("../icons/Unique-.png"); }
      .main .elm-block__item:hover .elm-block__img_fi-st {
        background-image: url("../icons/Unique-.png"); }
    .main .elm-block__img {
      margin: 35px auto 0;
      width: 60px;
      height: 60px;
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
      .main .elm-block__img_f-st {
        background-image: url("../icons/Unique.png"); }
      .main .elm-block__img_s-st {
        background-image: url("../icons/Ponivnyanya.png"); }
      .main .elm-block__img_t-st {
        background-image: url("../icons/Pilga.png"); }
      .main .elm-block__img_fo-st {
        background-image: url("../icons/logo.png"); }
      .main .elm-block__img_fi-st {
        background-image: url("../icons/Unique-.png"); }
    .main .elm-block__title {
      margin: 0 auto;
      padding-top: 10px;
      text-align: center;
      font: 41px "ProximaBold";
      color: #8ab734; }
    .main .elm-block__text {
      text-align: center;
      font: 20px "ProximaRg";
      color: #373737; }
  .main__pic {
    margin: 30px auto 0;
    max-width: 380px;
    height: 210px;
    -webkit-box-shadow: 0px 0px 35px 0px gray;
            box-shadow: 0px 0px 35px 0px gray;
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .main__pic:hover {
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg); }
    @media screen and (min-width: 768px) {
      .main__pic {
        margin: 55px auto 0;
        max-width: 700px;
        height: 380px; } }
    @media screen and (min-width: 1024px) {
      .main__pic {
        margin: 55px auto 0;
        max-width: 945px;
        height: 515px; } }
    @media screen and (min-width: 1900px) {
      .main__pic {
        margin: 110px auto 0;
        max-width: 1175px;
        height: 640px; } }
  .main__img {
    width: 100%;
    height: auto; }

/* ======================= Section News =================== */
.news {
  /* .container {
			background-color: inherit;	
	}  */ }
  .news__content {
    padding-top: 40px; }
    @media screen and (min-width: 768px) {
      .news__content {
        padding-top: 80px; } }
    @media screen and (min-width: 768px) {
      .news__content {
        padding-top: 100px;
        padding-bottom: 30px; } }
  .news__title {
    margin: 0;
    padding: 0;
    font: 105px "ProximaBold";
    color: #8ab734;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .news__title {
        font: 200px "ProximaBold"; } }
  .news__blocks {
    font: 24px "ProximaRg";
    color: #373737; }
  @media screen and (min-width: 768px) {
    .news .blocks__elm {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .news .blocks__elm:not(:last-child) {
    margin-bottom: 60px; }
  @media screen and (min-width: 768px) {
    .news .blocks__description {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 50%;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%; }
      .news .blocks__description_mod {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2; } }
  .news .blocks__link {
    padding-top: 15px;
    display: block;
    text-decoration: none;
    color: #373737; }
    .news .blocks__link:hover {
      color: #8ab734; }
    @media screen and (min-width: 1900px) {
      .news .blocks__link {
        padding-bottom: 30px; } }
  .news .blocks__title {
    font: 24px "ProximaSbold"; }
  .news .blocks__text {
    padding-top: 25px; }
    .news .blocks__text:last-child {
      display: none; }
      @media screen and (min-width: 1024px) {
        .news .blocks__text:last-child {
          display: block; } }
  .news .blocks__picture {
    margin: 35px auto 0;
    max-width: 380px;
    height: 210px;
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
    -webkit-box-shadow: 0px 0px 35px 0px gray;
            box-shadow: 0px 0px 35px 0px gray; }
    @media screen and (min-width: 768px) {
      .news .blocks__picture {
        margin: 50px 0 0;
        max-width: 300px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 50%;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        height: 190px;
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
        .news .blocks__picture_mod {
          margin: 50px 0 0;
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1;
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 50%;
              -ms-flex: 0 1 50%;
                  flex: 0 1 50%; } }
    @media screen and (min-width: 1024px) {
      .news .blocks__picture {
        max-width: 460px;
        height: 265px; } }
    @media screen and (min-width: 1024px) {
      .news .blocks__picture {
        max-width: 540px;
        height: 310px; } }
  .news .blocks__img {
    width: 100%;
    height: 100%; }
