.bgc-block {
  background: white; }
  @media screen and (min-width: 1900px) {
    .bgc-block {
      background: transparent; } }

.breadCrumbs {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  background-color: white; }
  @media screen and (min-width: 768px) {
    .breadCrumbs {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 1024px) {
    .breadCrumbs {
      padding: 0 20px; } }
  .breadCrumbs__item {
    margin-right: 5px;
    padding: 20px 0; }
  .breadCrumbs__item:not(:last-of-type):after {
    content: " |"; }
  .breadCrumbs__link {
    text-decoration: none;
    font: 18.3px "ProximaRg";
    color: #bebdbd; }
    .breadCrumbs__link_active {
      color: red;
      pointer-events: none;
      color: #353535; }

.contacts__content {
  padding: 30px 0 5px;
  background-color: white; }
  @media screen and (min-width: 768px) {
    .contacts__content {
      padding-top: 20px;
      padding-bottom: 15px; } }
  @media screen and (min-width: 1024px) {
    .contacts__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0 20px 60px 20px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.contacts__info {
  margin: 0 auto;
  background-color: white; }
  @media screen and (min-width: 1024px) {
    .contacts__info {
      margin: 0;
      padding: 0; } }

.contacts__form {
  margin-top: 40px;
  background-color: white; }
  @media screen and (min-width: 768px) {
    .contacts__form {
      margin-top: 25px; } }
  @media screen and (min-width: 1024px) {
    .contacts__form {
      margin-top: 0; } }

.info {
  margin: 0 auto;
  max-width: 370px; }
  .info__title {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font: 30px "ProximaBold";
    color: #8ab734;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .info__title {
        padding-bottom: 25px; } }
    @media screen and (min-width: 1024px) {
      .info__title {
        text-align: left; } }
  .info__elem {
    margin: 0 auto;
    padding-left: 30px; }
    @media screen and (min-width: 768px) {
      .info__elem {
        padding: 0; } }
  .info .info__text_cont:before, .info .info__text_phone:before, .info .info__text_mail:before {
    content: '';
    margin-right: 15px;
    width: 20px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer; }
  .info__text {
    font: 18px "ProximaRg";
    color: #838383;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px; }
    .info__text_cont:before {
      background-image: url("../icons/maps.png"); }
    .info__text_phone:before {
      background-image: url("../icons/tel-contact.png"); }
    .info__text_mail:before {
      background-image: url("../icons/mail-contact.png"); }

.form__title {
  margin: 0;
  padding: 0;
  font: 30px "ProximaRg";
  color: #353535;
  text-align: center;
  background-color: #ffffff; }

.form__text {
  padding: 10px 0;
  background-color: #ffffff;
  font: 18px "ProximaRg";
  color: #bebdbd;
  text-align: center; }

.form__wrapper {
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .form__wrapper {
      margin: 0 auto;
      padding: 0;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 575px;
          -ms-flex: 0 1 575px;
              flex: 0 1 575px;
      width: 575px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .form__wrapper {
      padding-top: 25px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 575px;
          -ms-flex: 0 1 575px;
              flex: 0 1 575px; } }

.form__group {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 275px;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px; }

.form__input {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #bebdbd;
  outline: none; }
  @media screen and (min-width: 768px) {
    .form__input {
      max-width: 275px; } }
  .form__input::-webkit-input-placeholder {
    color: #bebdbd; }
  .form__input::-moz-placeholder {
    color: #bebdbd; }
  .form__input:-ms-input-placeholder {
    color: #bebdbd; }
  .form__input::-ms-input-placeholder {
    color: #bebdbd; }
  .form__input::placeholder {
    color: #bebdbd; }
  .form__input:focus {
    border: 2px solid #8ab734; }
  .form__input_submit {
    border: none;
    background-color: #8ab734;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .form__input_submit {
        margin-top: 16px; } }

.form__textarea {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #bebdbd;
  outline: none; }
  @media screen and (min-width: 768px) {
    .form__textarea {
      min-height: 120px;
      margin: 0;
      padding-top: 13px; } }
  .form__textarea::-webkit-input-placeholder {
    color: #bebdbd; }
  .form__textarea::-moz-placeholder {
    color: #bebdbd; }
  .form__textarea:-ms-input-placeholder {
    color: #bebdbd; }
  .form__textarea::-ms-input-placeholder {
    color: #bebdbd; }
  .form__textarea::placeholder {
    color: #bebdbd; }
  .form__textarea:focus {
    border: 2px solid #8ab734; }
