.form__title {
  margin: 0;
  padding: 0;
  font: 30px "ProximaRg";
  color: #353535;
  text-align: center; }
  .form__title_unic {
    display: none; }

.form__text {
  padding: 10px 0;
  text-align: center;
  font: 18px "ProximaRg";
  background-color: #ffffff;
  color: #909090; }
  .form__text_unic {
    display: none; }

.form__wrapper {
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .form__wrapper {
      margin: 0 auto;
      padding: 0;
      width: 575px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (min-width: 1024px) {
    .form__wrapper {
      padding-top: 25px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 575px;
          -ms-flex: 0 1 575px;
              flex: 0 1 575px; } }
  @media screen and (min-width: 768px) {
    .form__wrapper_unic {
      margin: 0 auto;
      padding: 0;
      max-width: 450px;
      display: block; } }

.form__group {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 275px;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px; }
  .form__group_unic {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%; }

.form__input {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #909090;
  outline: none; }
  @media screen and (min-width: 768px) {
    .form__input {
      max-width: 275px; } }
  @media screen and (min-width: 768px) {
    .form__input_unic {
      max-width: 450px; } }
  .form__input::-webkit-input-placeholder {
    color: #909090; }
  .form__input::-moz-placeholder {
    color: #909090; }
  .form__input:-ms-input-placeholder {
    color: #909090; }
  .form__input::-ms-input-placeholder {
    color: #909090; }
  .form__input::placeholder {
    color: #909090; }
  .form__input:focus {
    border: 2px solid #8ab734;
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5); }
  .form__input_submit {
    border: none;
    background-color: #8ab734;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer; }
    .form__input_submit:hover {
      background-color: #aad260; }
    @media screen and (min-width: 768px) {
      .form__input_submit_unic {
        max-width: 450px; } }
    @media screen and (min-width: 768px) {
      .form__input_submit {
        margin-top: 16px; } }

.form__textarea {
  margin-bottom: 20px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid dad9d9;
  font: 18px "ProximaRg";
  color: #909090;
  outline: none;
  min-height: 120px; }
  @media screen and (min-width: 768px) {
    .form__textarea {
      margin: 0;
      padding-top: 13px; } }
  @media screen and (min-width: 768px) {
    .form__textarea_unic {
      margin: 0;
      max-width: 450px; } }
  .form__textarea::-webkit-input-placeholder {
    color: #909090; }
  .form__textarea::-moz-placeholder {
    color: #909090; }
  .form__textarea:-ms-input-placeholder {
    color: #909090; }
  .form__textarea::-ms-input-placeholder {
    color: #909090; }
  .form__textarea::placeholder {
    color: #909090; }
  .form__textarea:focus {
    border: 2px solid #8ab734;
    -webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5); }

.product__title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  text-align: center;
  font: 36px "ProximaBold";
  color: #8ab734; }
  @media screen and (min-width: 768px) {
    .product__title {
      padding-top: 0;
      padding-bottom: 65px; } }

@media screen and (min-width: 1024px) {
  .product__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.product__form {
  padding-top: 25px; }
  @media screen and (min-width: 768px) {
    .product__form {
      padding-top: 0; } }

.product__picture {
  display: none;
  width: 490px;
  height: 320px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  @media screen and (min-width: 1024px) {
    .product__picture {
      display: block;
      -webkit-transform: translate(-5px, -35px) rotate(-4.8deg);
          -ms-transform: translate(-5px, -35px) rotate(-4.8deg);
              transform: translate(-5px, -35px) rotate(-4.8deg); } }
  @media screen and (min-width: 1900px) {
    .product__picture {
      width: 600px;
      height: 400px;
      -webkit-transform: translate(-5px, -35px) rotate(-6deg);
          -ms-transform: translate(-5px, -35px) rotate(-6deg);
              transform: translate(-5px, -35px) rotate(-6deg);
      margin-right: 30px; } }
  .product__picture:hover {
    -webkit-transform: translate(0, 0) rotate(0deg);
        -ms-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
    -webkit-box-shadow: 0px 5px 30px 0px #8b8e91;
            box-shadow: 0px 5px 30px 0px #8b8e91; }

.product__img {
  width: 100%;
  height: auto; }

.above-unic__text {
  font: 18px "ProximaRg";
  color: #909090; }
  .above-unic__text:first-child {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .above-unic__text:first-child {
        padding: 25px 0;
        margin: 0; } }
    @media screen and (min-width: 1900px) {
      .above-unic__text:first-child {
        padding: 30px 0;
        margin: 0; } }

.above-unic__span {
  color: #353535; }
