.header {
	background-color: $color-white;
	position: relative;
	z-index: 11;
	box-shadow: 0px 6px 9px 0px rgba(20,8,20,0.54);

	&__top {
		padding: 12px 0 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		

		@include large-screen() {
			justify-content: space-around;
			
			display: none; 
		}

		@include extra-large-screen() {
			
			display: none; 
		}

		 &_other {
		
			@include large-screen() {
				justify-content: space-around;	
				display: flex; 
			}
		
			@include extra-large-screen() {
				display: flex; 
			}
		} 

		

	}

	&__burger-menu {	
	}

	&__menu {
		display: none;

		@include medium-screen() {
			display: block;
			flex: 0 1 360px;
		}

		@include large-screen() {
			display: block;
			flex: 0 1 610px;
		}

		@include extra-large-screen() {
			display: block;
			flex: 0 1 710px;
		}
	}

	&__logo {
		margin-right: -2px;
		max-width: 265px;
		height: 40px;
		display: flex;
		align-items: center;
	
		@include extra-large-screen() {
			max-width: 290px;
			height: 45px;
		}
	}
}