$font-main: 'ProximaRg';
$font-mainSBold: 'ProximaSbold';
$font-mainBold: 'ProximaBold';
$color-main: #8ab734;
$color-font: #4f4f4f;
$color-white: #ffffff;
$font-clrT: #353535;
$font-clrM: #bebdbd;
