@import 'variables';
@import 'mixins';

.bgc-block {
    background: white;

    @include extra-large-screen() {
        background: transparent;
    }
}

.breadCrumbs {
    margin: 0;
    padding: 0;
    display: none;
    list-style-type: none;
    background-color: white;

    @include medium-screen() {
        display: flex;
    }

    @include large-screen() {   
        padding: 0 20px;    
    }

    &__item {
        margin-right: 5px;
        padding: 20px 0;
    }

    &__item:not(:last-of-type):after {
        content: " |";

    }

    &__link {  
        text-decoration: none;
        font: 18.3px $font-main;
        color: $font-clrM;

        &_active {
          color: red;
          pointer-events: none;
          color: #353535;
        }
    }
}

.contacts {
   
    &__content {
        padding: 30px 0 5px;
        background-color: white;

        @include medium-screen() {
            padding-top: 20px;
            padding-bottom: 15px;
        }

        @include large-screen() {
            display: flex;
            padding: 0 20px 60px 20px;
            justify-content: space-between;
        }   
    }

    &__info {
        margin: 0 auto;
        background-color: white;
        
        @include large-screen() {
            margin: 0;
            padding: 0;    
        }

    }   
 
    &__form {
        margin-top: 40px;
        background-color: white;

        @include medium-screen() {
            margin-top: 25px;
        }

        @include large-screen() {
            margin-top: 0;
        }
    }   
}

.info {
    margin: 0 auto;
    max-width: 370px; 
    
    &__title {
        margin: 0;
        padding: 0;
        padding-bottom: 25px;
        font: 30px $font-mainBold;
        color: $color-main;
        text-align: center;

        @include medium-screen() {
            padding-bottom: 25px;
        }

        @include large-screen() {
            text-align: left;
        }

    }

    &__elem {
        margin: 0 auto;
        padding-left: 30px;

     @include medium-screen() {
         padding: 0;
     }

    }

    %set {
        content: '';
        margin-right: 15px;
        width: 20px;
        height: 25px;
        display: inline-block;
        vertical-align: middle; 
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &__text {
        font: 18px $font-main;
        color: #838383;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;

        &_cont:before { 
            @extend %set;
            background-image: url('../icons/maps.png');      
        }

        &_phone:before { 
            @extend %set;
            background-image: url('../icons/tel-contact.png');      
        }

        &_mail:before { 
            @extend %set;
            background-image: url('../icons/mail-contact.png');      
        }
    }
}

.form {

    &__title {
        margin: 0;
        padding: 0;
        font: 30px $font-main;
        color: $font-clrT;
        text-align: center;
        background-color: $color-white;
    }

    &__text {
        padding: 10px 0;
        background-color: $color-white;
        font: 18px $font-main;
        color: $font-clrM;
        text-align: center;     
    }

    &__wrapper {
        margin-top: 10px;
    
        @include medium-screen() {
            margin: 0 auto;
            padding: 0; 
            flex: 0 1 575px;
            width: 575px;
            display: flex;
            justify-content: space-between;
        }

        @include large-screen() {
            padding-top: 25px;
            flex: 0 1 575px;
        }
    }

    &__group {
        flex: 0 1 275px;   
    }

    &__input {
        margin-bottom: 20px;
        padding-left: 10px;
        width: 100%;
        height: 50px;
        border: 1px solid dad9d9; 
        font: 18px $font-main;
        color: $font-clrM;
        outline: none;

        @include medium-screen() {
            max-width: 275px;     
        }

        &::placeholder {
            color: $font-clrM;
        }

        &:focus {
            border: 2px solid $color-main;
        }

        &_submit {
           border: none;  
           background-color: $color-main;
           color: $color-white;
           font-size: 24px;
           cursor: pointer;

           @include medium-screen() {
               margin-top: 16px;
           }
        }
    }

    &__textarea {
        margin-bottom: 20px;
        padding-left: 10px;
        width: 100%;
        border: 1px solid dad9d9;
        font: 18px $font-main;
        color: $font-clrM;
        outline: none;

        @include medium-screen() {
           min-height: 120px;
           margin: 0;
           padding-top: 13px;
        }

        &::placeholder {
            color: $font-clrM;
        }

        &:focus {
            border: 2px solid $color-main;
        }
    }
}


