
@import 'variables';
@import 'mixins';
@import 'partial/header';
@import 'partial/above-footer';
@import 'partial/footer';
@import '404';

/* ----------------------------- Fonts ------------------------------- */

@font-face {
	font-family: 'ProximaRg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('../fonts/Proxima Nova Regular'), local('../fonts/ProximaNova-Regular'),
		url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaSbold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: local('../fonts/Proxima Nova Semibold'), local('../fonts/ProximaNova-Semibold'),
		url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaBold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: local('../fonts/Proxima Nova Bold'), local('../fonts/ProximaNova-Bold'),
		url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* ----------------------------- Fonts ------------------------------- */

/* ----------------------------- General ----------------------------- */
body {
	@extend %reset;
	background-image: url('../img/background.jpg');	
	background-size: cover;  
} 

* {
	box-sizing: border-box;
}

%reset {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 0 20px;

	@include large-screen() {
		// padding: 0 30px; add header__top - js: sp-btw;
	}

	@include extra-large-screen() {
		padding: 0;
		max-width: 1200px;	
	}


}

/* ----------------------------- General ----------------------------- */

/* --------------------------- Header --------------------------------- */



.burger-menu {

	&__brg-icon {
		
	}

	&__list {
		@extend %reset;
		margin-top: 10px;
		background-color: #8ab734;					
		
		&_top {
			position: absolute;
			left: -999px;
			transition: left 1s;
		}		
	}

	&__item {
		list-style-type: none;
		padding: 10px 100px 0 15px;
	}
}

.brg-icon {
	width: 48px;
	height: 36px;
	position: relative;	
	cursor: pointer;		
					
	&__elem {
		margin: auto;
		width: 48px;
		height: 6px;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color-main;
		line-height: 36px;
		transition: .25s ease-in-out;
											
		&:first-child {
			top: -30px;
		}

		&:last-child {
			top: 29px;
		}

		&_open:first-child {
			top: 0px;
			transform: rotate(-135deg);
		}
						
		&_open:nth-child(2) {
			opacity: 0;
		}
						
		&_open:last-child {					
			top: 0px;
			transform: rotate(135deg);
			background-color: orange;
		} 
	}	
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&__link {
		display: block;
		text-decoration: none;
		color: $color-font;
		font-family: $font-mainSBold;
		font-size: 24px;
	}

	&__info {
		display: flex;
		flex: 0 1 170px;
		justify-content: space-between;

		@include large-screen() {
			flex: 0 1 420px;
		}

		@include extra-large-screen() {
			flex: 0 1 510px;
		}


	}

	&__valuta {
		display: flex;
		justify-content: space-between;
		flex: 0 1 100px;

		@include large-screen() {
			flex: 0 1 145px;
		}

		@include extra-large-screen() {
			flex: 0 1 150px;
		}
	}

	&__title {
		display: none;

		&_contact {
			
			@include large-screen() {
				display: block;

				&:hover {
					color: $color-main;
				}
			}
		}

		&_phone {

			@include large-screen() {
				display: block;

				&:hover {
					color: $color-main;
				}
			}
		}


	}

	&__i {
		width: 45px;
		height: 36px;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;

		&_user {
			background-image: url('../icons/men.png');

			&:hover {
				background-image: url('../icons/men-.png');
			}
		}

		&_contact {
			background-image: url('../icons/map.png');

			&:hover {
				background-image: url('../icons/map-.png');
			}	

			@include large-screen() {
				display: none;
			}
		}

		&_phone {
			background-image: url('../icons/tel.png');

			&:hover {
				background-image: url('../icons/tel-.png');
			}	

			@include large-screen() {
				display: none;
			}
		}

		&_ua {
			width: 40px;
			height: 45px;
			background-color: $color-main;
			background-image: url('../img/grn.png');
			background-size: 70%;
			background-position: center;
			box-shadow: 0 0 20px rgba(0,0,0,.5);
			border: 2px solid white;
			transition:  .3s;

			&:hover {
				background-color: white;
				border-color: $color-main;
				background-image: url('../img/grn-.png');
			}

			@include large-screen() {
				width: 54px;
				height: 57px;
			}
		}

		&_buck {
			width: 40px;
			height: 45px;	
			background-color: $color-main;
			background-image: url('../img/$.png');
			background-size: 60%;
			background-position: center;
			border: 2px solid white;	
			box-shadow: 0 0 20px rgba(0,0,0,.5);
			transition:  .3s;

			&:hover {
				background-color: white;
				border-color: $color-main;
				background-image: url('../img/$-.png');
			}

			@include large-screen() {
				width: 54px;
				height: 57px;
			}	
		}
	}
}

.logo {
	max-width: 265px;
	height: 40px;

	@include extra-large-screen() {
		max-width: 290px;
		height: 45px;
	}

	&__pic {
		width: 100%;
		height: auto;
		display: block;	
	}
}

.banner {

	&__item {
		background-repeat: no-repeat;
		background-size: cover;
		height: 195px;

		@include medium-screen {
			height: 315px;
		}

		&:first-child {
			background-image: url('../img/header-banner1.png');	
		}

		&:last-child {
			background-image: url('../img/header-banner2.png');				
		}
	}
}




