<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__elem">
				<div class="footer__copyright">Bce права защищены. 2017 г НФП "Пенсионный капитал"</div>
			</div>
			<div class="footer__elem">
				<div class="footer__dev-in">
					<div class="dev-in">
						<div class="dev-in__text">Разработано в</div>
						<a href="" class="dev-in__link">
							<span class="dev-in__icon"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>