<div class="form">
	<h2 class="form__title">У вас є питання?</h2>
	<div class="form__text">Телефонуйте або пишить, і ми з задоволенням допоможемо Вам!</div>
	<div class="form__contant">
		<div class="form__wrapper">
			<div class="form__group">
				<div class="form__row">
					<div class="field">
						<div class="form__field">
							<input type="text" class="form__input" placeholder="Ім'я">
						</div>
					</div>
				</div>
				<div class="form__row">
					<div class="field">
						<div class="form__field">
							<input type="text" class="form__input" placeholder="Призвіще">
						</div>
					</div>
				</div>
				<div class="form__row">
					<div class="field">
						<div class="form__field">
							<input type="text" class="form__input" placeholder="Email">
						</div>
					</div>
				</div>
			</div>
			<div class="form__group">
				<div class="form__row">
					<div class="field">
						<div class="form__field">
							<textarea class="form__textarea" rows="4" placeholder="Повідомлення"></textarea>
						</div>
					</div>
				</div>
				<div class="form__row">
					<div class="field">
						<div class="form__field">
							<input type="submit" class="form__input form__input_submit" value="Відправити">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>