<header class="header">
	<div class="container">
		<div class="header__top header__top_other">
			<div class="header__burger-menu">
				<div class="burger-menu">
					<div class="burger-menu__brg-icon">
						<div class="brg-icon">
							<span class="brg-icon__elem"></span>
							<span class="brg-icon__elem"></span>
							<span class="brg-icon__elem"></span>
						</div>
					</div>
					<ul class="burger-menu__list burger-menu__list_top">
						<li class="burger-menu__item">testBlock</li>
						<li class="burger-menu__item">testBlock</li>
						<li class="burger-menu__item">testBlock</li>
						<li class="burger-menu__item">testBlock</li>
						<li class="burger-menu__item">testBlock</li>
					</ul>
				</div>
			</div>
			<div class="header__menu">
				<div class="menu">
					<div class="menu__info">
						<div class="menu__element">
							<a href="" class="menu__link">
								<span class="menu__title"></span>
								<span class="menu__i menu__i_user">
								</span>
							</a>
						</div>
						<div class="menu__element">
							<a href="contact.html" class="menu__link">
								<span class="menu__title menu__title_contact">Контакты</span>
								<span class="menu__i menu__i_contact"></span>
							</a>
						</div>
						<div class="menu__element">
							<a href="tel:‎+380445555555" class="menu__link">
								<span class="menu__title menu__title_phone">+38 044 555 55 55</span>
								<span class="menu__i menu__i_phone"></span>
							</a>
						</div>
					</div>
					<div class="menu__valuta">
						<div class="menu__element">
							<a href="" class="menu__link">
								<span class="menu__i menu__i_ua"></span>
							</a>
						</div>
						<div class="menu__element">
							<a href="" class="menu__link">
								<span class="menu__i menu__i_buck"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="header__logo">
				<div class="logo">
					<img src="img/logo.png" alt="" class="logo__pic">
				</div>
			</div>
		</div>
	</div>
	
</header>